#userprofiletable
{
  margin-top:7px;
  border-collapse:collapse;
  width:100%;
  float:middle;
}

#userprofiletable tr th
{
  font-weight:bold; 
  font-size:14px;
  color:white;
  border-width:1px;
  border-style:solid;
  background-color:green;
  border-color:black;
  padding-left:2px;
  padding-right:2px;
  height:40px;
}

#userprofiletable tr td
{
  border-width:1px;
  border-style:solid;
  padding:3px;
}

.userprofilekey
{
 font-weight:bold;
 text-align:left;
 padding:1px 1px 1px 1px; 
 margin:3px; 
}

#userprofiledetailtable tr td
{
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
 	padding:10px 10px 0px 10px; 
}
.rowstyle{

}