@CHARSET "UTF-8";
div.votebox{
	background: none repeat scroll 0 0 #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AFAFAF;
    color: #254F6B;
    float: left;
    font-size: 14px;
    margin-right: 5px;
    padding: 3px;
    text-align: center;
    width: 45px;
}
div.answer_chosen_system_published{
background: none repeat scroll 0 0 	#7CFC00;
border: 1px solid #CCCCCC;
float: left; 
height: auto;
margin: ; 
padding: 1% 2%; 
position:relative;
width: 95%; 
}
#SearchBar input {
     height: 27px;
     width: 100%;
}
div.answer__system_published{
background: none repeat scroll 0 0 	#DCDCDC;
border: 1px solid #CCCCCC;
float: left; 
height: auto;
margin: ; 
padding: 1% 2%; 
position:relative;
width: 95%; 
}


div.fb_buttons{

}
div.votebox span{
	background: none repeat scroll 0 0 #fff;
    color: #000;
    float: left;
    font-size: 25px;
    margin-right: 5px;
    padding: 3px;
    text-align: center;
    width: 30px;
	height: 30px; 
	border-radius: 50%;
}

div.votebox a img {
	border: 0px !important;
}

div.question_options {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	width: 100%;
	margin: ;
    padding: 1% 2%;	
	border: 1px solid #CCCCCC;
	position: relative;
    width: 95%;
	height: auto;
}

/*div.pagination_new{
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	width: 100%;
	margin: ;
    padding: 1% 2%;	
	border: 1px solid #CCCCCC;
	position: relative;
    width: 95%;
	height: auto;
}*/

/* -------------------
   General Pagination
--------------------- */
div.pagination_new {
    clear: both;
    text-align: center;
    margin: 15px 0 0 0;
}
 
div.pagination_new p.counter {
    font-style: italic;
}
 
div.pagination_new ul li {
    list-style: none;
    display: inline;
    padding: 0 5px 0 5px;
}

div.question {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    height: auto;
    margin-bottom: 2%;
    padding: 1% 2%;
    position: relative;
    width: 95%;
}

div.boxes {
    margin: 5px;
    padding: 8px;
	float:right;
}

div.boxes span.votes{
	background: none repeat scroll 0 0 #33ECFF;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AFAFAF;
    color: #254F6B;
    float: left;
    font-size: 14px;
    height: 30px;
    margin-right: 5px;
    padding: 10px 0;
    text-align: center;
    width: 45px;
}
div.boxes span.answers{
	background: none repeat scroll 0 0 #11CCFF;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AFAFAF;
    color: #254F6B;
    float: left;
    font-size: 14px;
    height: 30px;
    margin-right: 5px;
    padding: 10px 0;
    text-align: center;
    width: 45px;
}
div.boxes span.impressions {
	background: none repeat scroll 0 0 #D0ECFF;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AFAFAF;
    color: #254F6B;
    float: left;
    font-size: 14px;
    height: 30px;
    margin-right: 5px;
    padding: 10px 0;
    text-align: center;
    width: 45px;
}

div.boxes span span.label {
	font-size: 12px;
}

div.question_data {
	float: left;
	max-width: 55%;
}

div.boxes a:link,
div.boxes a:active,
div.boxes a:visited,
div.boxes a:hover {
	text-decoration: none;
	color: #000000 !important;
}

div.answer{
	padding: 5px;
	margin-top: 10px;
	min-height: 130px;
}

div.answer h3{
	 display: inline;
}

div.answer.chosen{
	background: #eeeeee;
	border: 1px solid #ccc;
}

span.choose_answer {
	width: 100%;
	display: inline-block;
}

span.tags {
	display: inline-block;
	float: left;
	width:90%;
}

span.tagsitem {
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #000;
    font-size: 90%;
    line-height: 2.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}
div.question_body h2.question_title{
	float: left;
}

div.question_text{
    background-color: #999;
    color: white;
    margin-left: 10%;
	margin-right: 15%;
    padding: 5px;
}

div.question_body h4.category{
	float: left;
	clear: both;
	margin-right: 10px;
}

div.question_body h4.data {
	float: left;
	clear: both;
	font-weight: normal !important;
}

div.questions_filters {
	float: left;
	clear: both;
	width: 95%;
	border: 1px solid #ccc;
	margin-bottom: 2%;
	background: #eeeeee;
	padding:1% 2%;
}
div.questionbox{
	background: none repeat scroll 0 0 #ccc;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AFAFAF;
    border: 1px solid #CCCCCC;
    float: left;
    height: auto;
    margin: ;
    padding: 1% 2%;
    position: relative;
    width: 95%;
}
div.buttons{
    color: #254F6B;
    float: left;
    font-size: 14px;
    margin-right: 5px;
    padding: 3px;
    text-align: center;
    width: 155px;
}

div.questions_filters ul
{
list-style: none;
padding: 0;
margin: 0;
}

div.questions_filters ul li{
	list-style: none;	
	display: inline-block;
}

/*div.questions_filters ul li a {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
  .user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    .opacity(.65);
    .box-shadow(none);
  }

  a& {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}*/

/*https://stackoverflow.com/questions/31638845/change-to-a-different-colour-for-each-bootstrap-active-tab-css*/
div.questions_filters ul > li {
  list-style-type: none;
  width: 110px;
  height: 40px;
  display: inline-block;
  font-family: Verdana, Geneva, sans-serif;
}
div.questions_filters ul > li > a {
  background-color: #00746b;
  display: block;
  height: 100%;
  text-align: center;
  line-height: 40px;
  /*border: 1px solid #141414;*/
  box-sizing: border-box;
  color: white;
  vertical-align: middle;
  border: 0.1em solid #dcdce9;
  border-radius: 5px;
}
div.questions_filters ul > li:nth-child(2) > a {
	background-color: #2e3192;
}
div.questions_filters ul > li:nth-child(3) > a {
	background-color: #4436f8;
}
div.questions_filters ul > li:nth-child(4) > a {
	background-color: #3ebafa;
}
div.questions_filters ul > li:nth-child(5) > a {
	background-color: #777da7;
}
div.questions_filters ul > li:nth-child(6) > a {
	background-color: #f4555b;
}
div.questions_filters ul > li.active > a {
  background-color: #7f7fff;
  color: #ffffff;
}
div.questions_filters ul > li > a:hover,
div.questions_filters ul > li > a:focus,
div.questions_filters ul > li.active > a:hover,
div.questions_filters ul > li.active > a:focus {
  background-color: #cc0033;
  color: #fff;
}

/*
div.questions_filters ul li a {
	/*background: url(background.gif) #fff bottom left repeat-x;*/
	/*background-color: #4CAF50;
	height: 2em;
	margin-right:4px;
	line-height: 2em;
	float: left;
	width: auto;
	padding:5px;
	vertical-align: middle;
    touch-action: manipulation;
	display: inline-block;
	border: 0.1em solid #dcdce9;
	border-radius: 5px;
	/*color: #0d2474;*/
	/*color:white;
	text-decoration: none;
	text-align: center;
}

div.questions_filters ul li a.active {
	background-image: none;
	font-weight: bold;
}*/

img.questions_gravatar_small {
	float:left;
	margin: 10px;
	border:2px solid #333;
}

div.maincat{
width: 100px;
float: left;
border: 0.1em solid #dcdce9;
}
div.subcat{
width: 100px;
float: left;
border: 0.1em solid #dcdce9;
}
table.sample {
	border-width: 2px;
	border-spacing: 1px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: rgb(255, 255, 240);
}
table.sample th {
	border-width: 3px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.sample td {
	border-width: 3px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	color:blue;
}

.custom_images{
	max-width:210px;
	float:right;
}
.addthis_toolbox .custom_images a {
    margin: 0px;
    padding: 0;
	float:right;
}
.addthis_toolbox .custom_images a img {
    opacity: 1.0;
}
.addthis_toolbox .custom_images a:hover img {
    opacity: 0.75;
}

.icon64 {
height:64px;
width:64px;
background-image:url('socimg/icons64.png'); 
}

.stumbleupon64 {background-position:0px 0px;}
.email64 {background-position:-64px 0px;}
.twitter64 {background-position:-128px 0px;}
.reddit64 {background-position:0px -64px;}
.facebook64 {background-position:-64px -64px;}
.google64 {background-position:-128px -64px;}
.delicious64 {background-position:0 -128px;}
.print64 {background-position:-64px -128px;}
.myspace64 {background-position:-128px -128px;}

.icon32 {
height:32px;
width:32px;
background-image:url('socimg/icons32.png'); 
}

.stumbleupon32 {background-position:0px 0px;}
.email32 {background-position:-32px 0px;}
.twitter32 {background-position:-64px 0px;}
.reddit32 {background-position:0px -32px;}
.facebook32 {background-position:-32px -32px;}
.google32 {background-position:-64px -32px;}
.delicious32 {background-position:0 -64px;}
.print32 {background-position:-32px -64px;}
.myspace32 {background-position:-64px -64px;}

.icon16 {
height:16px;
width:16px;
margin-left:3px;
background-image:url('socimg/icons16.png');
}

.stumbleupon16 {background-position:0px 0px;}
.email16 {background-position:-16px 0px;}
.twitter16 {background-position:-32px 0px;}
.reddit16 {background-position:0px -16px;}
.facebook16 {background-position:-16px -16px;}
.google16 {background-position:-32px -16px;}
.delicious16 {background-position:0 -32px;}
.print16 {background-position:-16px -32px;}
.myspace16 {background-position:-16px -16px;}

div.boxbck1 { 
		position: relative; 
		margin: 20px 0 20px 40px; 
		padding: 5px 0; width: 250px; 
		height: 200px; 
		background-image: url('box3.png'); 
		background-repeat: no-repeat; 
}

div.boxbck2 { 
		position: relative; 
		margin: 20px 0 20px 40px; 
		padding: 5px 0; width: 250px; 
		height: 200px; 
		background-image: url('box3.png'); 
		background-repeat: no-repeat; 
}
/*
#box-link1 { 
		position: absolute; 
		top: 8px; 
		left: 20px; 
		width: 150px; 
		height: 83px; 
		background-image: url('but1.png');
		background-repeat:no-repeat;
}

#box-link2 { 
		position: absolute; 
		top: 8px; 
		left: 20px; 
		width: 150px; 
		height: 83px; 
		background-image: url('but2.png');
		background-repeat:no-repeat;
}
*/
div.boxbck1 p{
		position: absolute; 
		top: 8px; 
		left: 20px; 
		width: 200px; 
		background-color: transparent; 
		color:white;
		font-size:20px;
		font-style:italic;
		font-family:"Courier New", Courier, monospace;
		font:bold;
		text-align:center;
}

div.boxbck2 p{
		position: absolute; 
		top: 8px; 
		left: 20px; 
		width: 200px; 
		background-color: transparent; 
		color:white;
		font-size:20px;
		font-style:italic;
		font-family:"Courier New", Courier, monospace;
		font:bold;
		text-align:center;
}

/****************
html, body {
	margin: 0;
	padding: 0;
	min-width: 500px;
	height: auto; 
}

.content {
	min-height: 200px;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.block_4 {
	width: 100%;
	height: 70px;
	background-color: #9966ff;
}

.background.block_3 {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 70px;
	background-color: #999966;
	margin-top: 70px;
	margin-bottom: 70px; 
}

.block_3 {
	height: auto;
	width: 70px;
	padding-bottom: 70px;
}

.background.block_1 {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 70px;
	background-color: #9999ff;
	margin-top: 70px;
	margin-bottom: 70px; 
}

.block_1 {
	height: auto;
	width: 70px;
	padding-bottom: 70px;
}

.block_2 {
	width: 100%;
	height: 70px;
	background-color: #999999;
}

Newly added************************/



.container {
	margin: 0;
	padding: 0;
	height: auto; 
	overflow-x:hidden; 
	overflow-y:hidden;
}
.topRow {
	position: relative;
	display: block;
	top: 5px; 
	right: 10px;
	float:right;
	clear:both;
	margin:5px;
}
.leftCol {
	display: block;
	float: left; 
	width:15%; 
	clear:both;
}
.rightCol {
	float:right;
	display: block;
}
.bottomrow {
	position: relative;
	width: auto;
	display: block;
	bottom: 5px; 
	right: 10px;
	float:right;
	min-height:20px;
	margin:5px;
}
question-content{
	position: relative;
	overflow:auto;
}
.addthis_toolbox{
	float:left;
}
/*
.leftCol div {float:left; clear:left;}
*/

.social_module{
	float:left;
}

.questions_star {
	width:80px;
	height:16px;
	position: relative;
	background-image:url('socimg/stars.png'); 
}

.rank1 {background-position:0px 0px;}
.rank2 {background-position:0px -16px;}
.rank3 {background-position:0px -32px;}
.rank4 {background-position:0px -48px;}
.rank5 {background-position:0px -64px;}
.rank6 {background-position:0px -80px;}
.rank7 {background-position:0px -96px;}
.rank8 {background-position:0px -112px;}
.rank9 {background-position:0px -128px;}
.rank10 {background-position:0px -144px;}
.rank11 {background-position:0px -160px;}

.user_rank{
		font-size:20px;
		font-style:italic;
		font-family:"Courier New", Courier, monospace;
		font:bold;
		text-align:center;
		color:blue;
		text-transform:capitalize;
		float:left;
	}
#user_profile{
		float:right;
		height:150px;
		text-align:center;
		display: block;
		text-transform:capitalize;
}
questions_gravatar_big{
}
#question_horimenu{
    background-color: #33FFFF !important;
    margin-top: 5px;
    padding: 5px;
}
#qcontainer
{
    height:auto;
    width:180px;
    position:relative;
	float:right;
	right:20px;
	padding-bottom:6%;
}

#qimage
{    
    position:absolute;
    left:0;
    top:0;
}
#imgtext
{
    z-index:100;
    position:absolute;    
    color:black;
    font-size:17px;
    font-weight:bold;
    left:40px;
    top:15px;
}
.imagecss {
    position:relative;
}
.imagecss .texty {
    position:absolute;
    top:5px;
    left:25px;
    width:80px;
	font-size:12px;
}
.div-table {
  display: table;         
  width: 100%;         
  background-color: #eee;         
  border: 1px solid #666666; 
  border-radius: 8px;  
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-tr {
  display: block;
  width: 95%;
  padding: 2px;
  padding-right:0px;
  padding-left:5px;
  border-radius: 4px;
  border: 1px solid #666611;
  background-color: #5F5F5F;
  margin: 1%;
  clear:both;
}
.div-tr a{
  color:black;
}
.div-trsub {
  margin: 1%;
  margin-right:0px;
  display: table-row;
  border-radius: 4px;
  padding: 1px;
  padding-right:0px;
  padding-left:5px;
  width: 90%;
  float:right;
  border: 1px solid #666666;
  background-color: #ccc;
}
.div-trsub a{
  color:brown;
}
.div-td {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 20%;         
  background-color: #ccc;  
}
.div-feed{
  margin-right:5px;
  float: right; /* fix for  buggy browsers */
}
.button1 {
	float:left;
    color: white !important;
	border-radius: 8px;
	padding:5px;
	font-weight:bold;
	font-size:18px;
    border: 2px solid #999999; /* Green */
}
.catdesc{
	color: white !important;
}
.catmain {
  font-family: sans-serif;
  padding: 10px;
  /* background properties */
  color:white;
  background-image: linear-gradient(to bottom, #cccfff, grey 50%);
  border-radius: 4px;
  /*background-repeat: no-repeat;
  background-position: 99% center;*/
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}